<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>{{ title }}</title>
  
  <link rel="stylesheet" href="/styles.css">
  <script src="/app.js" async></script>
</head>
<body>
  
  <div class="slider">
    <ol class="slides" data-slides data-slide-count="{{ slides.length }}">
      {% for slide in slides %}
        <li id="{{ slide.title | handle }}">
          {{ slide.content }}
        </li>
      {% endfor %}
    </ol>
    
    <ul class="slider-controls">
      <li><a href="#" data-slider-control="prev"><span class="control-text">Previous</span></a></li>
      <li><a href="#" data-slider-control="next"><span class="control-text">Next</span></a></li>
    </ul>
  </div>
  
</body>
</html>